html, body {
	margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
	color: black;
}
/* nav bar styling */
.navBar {
 	display: flex;
    justify-content: space-between; 
    padding: 5px 0px 5px 47vw; 
    margin: 0;
    border-bottom: 1px solid #D3D3D3;
   
}


.companyName {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: oblique;
    font-size: 30px;
}
.searchContainer {
    display: flex;
    align-items: center;
}  

.searchContainer > button {
	margin-right: 20px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
}

.searchContainer > button:hover {
    cursor: pointer;
}

.searchContainer > button:first-child {
	background-color: #df7373;
    color: white;
}

.navBar img {
	width: 10px;
}


/* topics/genre styling */

.topics ul{
	display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #D3D3D3;
}

.topics li {
    list-style: none;
    margin:10px;
	font-size: 15px;
}

.topics a {
	text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: arial, sans-serif;
    font-weight: 700;
}

.topics a:hover {
    color: #df7373;
}

/* article container */

#fashion{
	display:flex;
    justify-content: space-evenly; 
    margin: 0 80px;
}

#fashion h2 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.5px; 
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
	
}
#fashion img {
	width: 20vw;
}

#fashion hr {
	width: 20vw;
    margin: 8px 0 5px 0;
}

#firstColumn {
	display: flex;
    flex-direction: column;
    width: 50vw;
}
#firstColumn > img {
    width: 100%;
}
#firstColumn > p {
	text-transform: uppercase;
}

#secondColumn {
	margin: 50px;
}


.articleItem p {
	width:20vw;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* beauty section */
#beauty {
	background-color: #000;
    color: #fff;
}

.articleRow img {
 	height:300px;
    
/*     overflow: hidden; */
/*     height: 300px;
    object-fit: fill; */
}
/* topic titles */

.topicTitle {
	font-size: 6em;
    font-style: oblique;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

.topicTitle2 {
	font-size: 6em;
    font-style: oblique;
    font-family: 'Playfair Display', serif;
    letter-spacing:25px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    
    background-color:#000;
    color: #fff;
}

.topicTitle2:hover {
	color: #000;
    background-color: white;
    
} 

.articleRow {
	display: flex;
    flex-direction: row;
    justify-content: center;
    
    overflow: auto;
  	white-space: nowrap;
}

.articleRow img {
	height: 400px;
}

.articleItem1 {
    padding: 50px;
	margin: 15px;
    background: white;
}

